:root {
  --color-cream: #fdfaeb;
  --color-rust: rgba(217, 78, 49);
  --color-dark-rust: rgba(48, 38, 29, 0.1);
  --color-yellow: yellow;
  --color-link: rgb(249, 249, 136);
  --color-link-hover: rgb(249, 249, 21);
  --color-text-light: ghostwhite;
  --color-shadow: #333;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Georgia, serif;
  font-size: 1.125em;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Tahoma", sans-serif;
}

a {
  position: relative;
}

a:link {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

a:focus {
  color: black;
}

a:active {
  color: blue;
  top: 2px;
}

section {
  display: block;
  width: 100%;
}

#me {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-cream);
  justify-content: center;
  align-items: center;
}

#me img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

#about {
  width: 100%;
  padding: 10vh 0;
  background-color: var(--color-rust);
  overflow-x: hidden;
}

#about h1, h3 {
  width: 90%;
  margin: 0 auto 1em auto;
  color: var(--color-cream);
  text-shadow: 1px 1px var(--color-shadow);
}

#about h2 {
  position: absolute;
  font-size: 25vh;
  color: var(--color-dark-rust);
  margin-top: -.5em;
  transform-origin: left;
}

#about p {
  width: 85%;
  position: relative;
  z-index: 2;
  margin: 0 auto 1em auto;
  color: var(--color-text-light);
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  letter-spacing: -.015em;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

#about p:last-child {
  margin-bottom: 0;
}

footer {
  background-color: var(--color-yellow);
  width: 100%;
  height: min-content;
  padding: 5vh 0;
  position: relative;
  overflow: hidden;
}

footer a:link {
  color: black;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: black;
}

footer a:focus {
  color: white;
}

footer a:active {
  color: blue;
  top: 2px;
}

footer p {
  position: relative;
  z-index: 2;
  text-align: right;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.jitter {
  color: var(--color-rust);
  z-index: 2;
  font-size: 1em;
  top: -4%;
  left: 2%;
}

.jittery {
  color: var(--color-rust);
  top: 0;
  transform-origin: left;
}

.jitter,
.jittery {
  text-rendering: optimizeSpeed;
  display: inline;
  position: absolute;
}

#thanksMessage {
  position: fixed;
  top: 5vw;
  left: 5vw;
  padding: .5em;
  border: 2px solid #333;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

#thanksMessage button {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin: 1em;
  padding: .5em;
  background-color: #333;
  border: none;
  color: white;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
}

#thanksMessage p {
  clear: both;
  margin-bottom: 3em;
  font-weight: bolder;
  font-size: 18px;
  padding: 1em;
}

#thanksMessage p #callout {
  display: block;
  font-size: 200%;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0 auto 1em auto;
}

ul li {
  width: 100%;
  margin-bottom: 1em;
}
